.roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  padding: 48px 0;
}

.role-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px 0px #091a491f;
  border-radius: 24px;
  padding: 20px;
  gap: 18px;
  width: 100%;
  max-width: 319px;
  box-sizing: border-box;
}

.roles .role-card:last-child {
  grid-column: 2;
}

.role-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  min-width: 0;
}

.role-info p:first-child {
  font-weight: 700;
  font-size: 20px;
}

.role-description {
  text-transform: uppercase;
  font-weight: 500;
  color: #091a4999;
}

@media (max-width: 768px) {
  .roles {
    grid-template-columns: 1fr;
  }
}
