.roles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  padding: 48px 0;
}

.role-card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px 0px #091a491f;
  border-radius: 24px;
  padding: 20px;
  text-align: center;
  gap: 18px;
  width: 100%;
  max-width: 319px;
}

.roles .role-card:last-child {
  grid-column: 2;
}
