.who-creates-adoptly {
  background-color: #9fb9ff;
  border-radius: 48px;
  padding: 72px 76px;
  margin: 48px auto;
  max-width: 1145px;
  position: relative;
}

.who-creates-adoptly .description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  margin-top: 1rem;
}
.who-creates-adoptly .title-and-description {
  position: relative;
}

.footprints {
  position: absolute;
}

.paws-1 {
  top: 20px;
  left: 36px;
}

.paws-2 {
  bottom: 8px;
  right: 37px;
}
@media (min-width: 769px) and (max-width: 1100px) {
  .who-creates-adoptly {
    padding: 76px 20px;
  }
}

@media (max-width: 768px) {
  .who-creates-adoptly {
    padding: 48px 8px;
    margin: 24px 0;
  }
  .who-creates-adoptly h2 {
    font-size: 2rem;
  }
  .who-creates-adoptly .description {
    font-size: 1rem;
  }

  .who-creates-adoptly .title-and-description {
    position: relative;
  }
  .paws-1 {
    top: 39px;
    left: -1px;
    position: absolute;
    z-index: 0;
  }

  .paws-2 {
    display: none;
  }
}
