.who-creates-Adoptly {
  background-color: #9fb9ff;
  border-radius: 48px;
  padding: 72px 76px;
}

.who-creates-Adoptly .subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: var(--text-color);
  margin-top: 1rem;
}
