:root {
  --spacing-small: 20px;
}

.statistic-section-cards {
  display: flex;
  gap: var(--spacing-small);
  justify-content: center;
  padding: 43px 0;
  margin: 48px 0;
}

@media screen and (max-width: 768px) {
  .statistic-section-cards {
    flex-direction: column;
    padding: 48px 0;
    margin: 24px 0;
  }
}
