.for-shelters {
  font-family: var(--font-secondary);
  display: flex;
  align-items: center;
  max-width: 1145px;
  padding: 48px 0;
  margin: 0 auto;
  gap: 119px;
}

.for-shelters .badge {
  color: -var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  padding: 6px 16px;
  background-color: var(--white-color);
  border-radius: 214px;
}

.for-shelters h2 {
  text-align: left;
  padding: 32px 0 16px;
}

.for-shelters .left {
  flex: 1;
  max-width: 550px;
}

.for-shelters .question {
  display: flex;
  gap: 12px;
  align-items: center;
}

.for-shelters .description {
  font-size: 20px;
  color: var(--text-color);
  line-height: 1.5;
  font-weight: 500;
  margin-top: 16px;
}

.for-shelters .questions-list {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.for-shelters .questions-list li {
  border-radius: 16px;
  padding: 17px 24px;
  background-color: var(--white-color);
}

.for-shelters .questions-list p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #091a49;
}
.for-shelters .questions-list img {
  width: 32px;
  height: 32px;
}

.for-shelters .right {
  max-width: 460px;
  background-color: var(--white-color);
  box-shadow: 2px 4px 20px 0px #091a491f;
  border-radius: 32px;
  rotate: 2deg;
}

.for-shelters .right img {
  max-width: 130px;
  max-height: 130px;
}
.for-shelters .right .accout-icon {
  padding: 50px 145px 29px;
}

.for-shelters .right p {
  font-weight: 500;
  color: var(--text-color);
}

.for-shelters .right .dots {
  display: flex;
  padding: 35px 0 0 25px;
  gap: 6px;
}

.for-shelters .right .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: inline-block;
}

.for-shelters .right .dot:nth-child(2) {
  background-color: #facc14;
}
.for-shelters .right .dot:nth-child(3) {
  background-color: #79d792;
}

.for-shelters .right .content {
  background: #f9fafc;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 32px 32px;
}

.for-shelters .right .content .free-button {
  margin: 12px 39px 40px 305px;
  background-color: var(--white-color);
  border-radius: 214px;
  padding: 6px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.for-shelters .right .content .button-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #79d792;
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .for-shelters {
    flex-direction: column;
    gap: 72px;
    padding: 48px 0 24px;
  }
  .for-shelters .badge {
    background-color: #ffedd5;
  }

  .for-shelters .right .content {
    margin: 25px 14px 14px;
  }

  .for-shelters .right .accout-icon {
    padding: 42px 100px 5px;
  }

  .for-shelters .right .content .free-button {
    margin: 8px 27px 18px 198px;
    font-size: 14px;
  }

  .for-shelters h2 {
    font-size: 2rem;
  }
  .for-shelters .description {
    font-size: 20px;
  }

  .for-shelters .questions-list p {
    font-size: 14px;
  }
  .for-shelters .questions-list li {
    padding: 11px 12px;
  }
}
@media (max-width: 768px) {
  .for-shelters .description {
    font-size: 16px;
  }
  .for-shelters .right img {
    max-width: 100px;
    max-height: 100px;
  }
}
