.footer {
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #51515129;
  width: 100%;

  bottom: 0;
  left: 0;
  z-index: 100;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
  gap: 6px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

.footer-content p {
  color: #091a4999;
}
